<IfModule mod_rewrite.c>
    RewriteEngine On

    # Abaikan file atau direktori yang sebenarnya ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua permintaan ke index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>